wigleTakFlow.json
[
    {
        "id": "f96133e571fcee05",
        "type": "tab",
        "label": "wigleTakFlow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4fd2346c0e7a421f",
        "type": "http request",
        "z": "f96133e571fcee05",
        "name": "wigleWifi",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.wigle.net/api/v2/cell/search?onlymine=false&notmine=true&latrange1={{{payload.lat1}}}&latrange2={{{payload.lat2}}}&longrange1={{{payload.lon1}}}&longrange2={{{payload.lon2}}}&startTransID={{{payload.earliest}}}&minQoS=0&showGsm=true&showCdma=true&showLte=true&showWcdma=true&showNr=true&variance={{{payload.variance}}}&resultsPerPage={{{payload.results}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [
            {
                "keyType": "Authorization",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "\"Basic QUlEOTBkMGQzNWZkYjNjMWFjZmZkM2ALEIS5vo0EQc1NDg6OWIwYjk02Fvpar7JKs91wOWI5Nzc3YzU5OTc=\""
            }
        ],
        "x": 800,
        "y": 300,
        "wires": [
            [
                "0735594f72f72a48",
                "09af81940d82308e"
            ]
        ]
    },
    {
        "id": "0735594f72f72a48",
        "type": "debug",
        "z": "f96133e571fcee05",
        "name": "debug http",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 220,
        "wires": []
    },
    {
        "id": "05635197f882e7c2",
        "type": "tcp in",
        "z": "f96133e571fcee05",
        "name": "",
        "server": "client",
        "host": "10.237.104.20",
        "port": "8089",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "1c52b35895c06e7e",
        "x": 260,
        "y": 260,
        "wires": [
            [
                "8bd37c6ee9e5b902"
            ]
        ]
    },
    {
        "id": "8bd37c6ee9e5b902",
        "type": "tak",
        "z": "f96133e571fcee05",
        "name": "TAK",
        "x": 470,
        "y": 240,
        "wires": [
            [
                "bab69096a0ae680a",
                "9370d6523579f647"
            ],
            [],
            []
        ]
    },
    {
        "id": "bab69096a0ae680a",
        "type": "function",
        "z": "f96133e571fcee05",
        "name": "filter",
        "func": "if (msg.payload.event.detail.contact._attributes.callsign === \"Cellular\") {\n    var coord1 = msg.payload.event.detail.link[0]._attributes.point.split(\",\");\n    var coord2 = msg.payload.event.detail.link[1]._attributes.point.split(\",\");\n    var coord3 = msg.payload.event.detail.link[2]._attributes.point.split(\",\");\n    var coord4 = msg.payload.event.detail.link[3]._attributes.point.split(\",\");\n    var lat = [coord1[0], coord2[0], coord3[0], coord4[0]];\n    var lon = [coord1[1], coord2[1], coord3[1], coord4[1]];\n    lat.sort(function(a,b){\n        return a - b;\n    });\n    lon.sort(function (a, b) {\n        return a - b;\n    });\n\n    var results = 50;\n    var variance = 0.001;\n    var earliest = \"20230101-00000\";\n\n    msg.payload = {\n        \"lat1\": lat[0],\n        \"lat2\": lat[3],\n        \"lon1\": lon[0],\n        \"lon2\": lon[3],\n        \"results\": results,\n        \"variance\": variance,\n        \"earliest\": earliest\n    };\n    node.send(msg);\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 300,
        "wires": [
            [
                "5b3a7d8a4429b72e",
                "4fd2346c0e7a421f"
            ]
        ]
    },
    {
        "id": "5b3a7d8a4429b72e",
        "type": "debug",
        "z": "f96133e571fcee05",
        "name": "debug filter",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 220,
        "wires": []
    },
    {
        "id": "9370d6523579f647",
        "type": "debug",
        "z": "f96133e571fcee05",
        "name": "debug cot",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 160,
        "wires": []
    },
    {
        "id": "09af81940d82308e",
        "type": "function",
        "z": "f96133e571fcee05",
        "name": "wigle json (towers)",
        "func": "var newMsg;\nconst short = 10000;\nconst cinco = 5 * 60 * 1000;\nconst diez = 2 * cinco;\nconst stale = new Date(Date.now() + cinco).toISOString();\nconst length = parseInt(msg.payload.totalResults);\n\nfor (var i = 0; i < length; i++) {\n    var lat = String(msg.payload.results[i].trilat);\n    var lon = String(msg.payload.results[i].trilong);\n    var name = msg.payload.results[i].ssid;\n    var uuid = msg.payload.results[i].id;\n    var color = \"-65536\";\n    var number = msg.payload.results.length;\n \n\n    newMsg = {\n        \"payload\": {\n        \"event\": {\n            \"_attributes\": {\n                \"version\": \"2.0\",\n                \"uid\": \"\"+ uuid +\"\",\n                \"type\": \"b-m-p-c-ip\",\n                \"how\": \"h-g-i-g-o\",\n                \"time\": new Date(Date.now()).toISOString(),\n                \"start\": new Date(Date.now()).toISOString(),\n                \"stale\": stale,\n            },\n            \"point\": {\n                \"_attributes\": {\n                    \"lat\": \"\"+ lat +\"\",\n                    \"lon\": \"\"+ lon + \"\",\n                    \"hae\": \"0.0\",\n                    \"ce\": \"9999999.0\",\n                    \"le\": \"9999999.0\"\n                }\n            },\n            \"detail\": {\n                \"usericon\": {\n                    \"_attributes\": {\n                        \"iconsetpath\": \"COT_MAPPING_SPOTMAP/b-m-p-s-m/\"+ color +\"\",\n                    },\n                },\n                \"contact\": {\n                    \"_attributes\": {\n                    \"callsign\": \"\"+ name +\"\",\n                    }\n                },\n                \"color\": {\n                    \"_attributes\": {\n                    \"argb\": \"\"+ color +\"\",\n                    //\"test\": number,\n                    },\n                },\n            }\n        }\n    }\n    }\n    node.send(newMsg);\n}\n//return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 300,
        "wires": [
            [
                "4104d76d59ebdcf3",
                "6edc921697dcb13c"
            ]
        ]
    },
    {
        "id": "4104d76d59ebdcf3",
        "type": "debug",
        "z": "f96133e571fcee05",
        "name": "debug json",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 220,
        "wires": []
    },
    {
        "id": "8888c8c4ac9eda39",
        "type": "comment",
        "z": "f96133e571fcee05",
        "name": "wigleTakFlow",
        "info": "",
        "x": 330,
        "y": 160,
        "wires": []
    },
    {
        "id": "6edc921697dcb13c",
        "type": "tak",
        "z": "f96133e571fcee05",
        "name": "TAK",
        "x": 1270,
        "y": 300,
        "wires": [
            [
                "957623b21cf72be4",
                "f779fc71401be740"
            ],
            [],
            []
        ]
    },
    {
        "id": "957623b21cf72be4",
        "type": "debug",
        "z": "f96133e571fcee05",
        "name": "debug cot",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1430,
        "y": 220,
        "wires": []
    },
    {
        "id": "f779fc71401be740",
        "type": "udp out",
        "z": "f96133e571fcee05",
        "name": "",
        "addr": "239.2.3.1",
        "iface": "",
        "port": "6969",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "multi",
        "x": 1570,
        "y": 280,
        "wires": []
    },
    {
        "id": "dc96e9d6a78c714c",
        "type": "tcp out",
        "z": "f96133e571fcee05",
        "name": "",
        "host": "10.237.104.20",
        "port": "8089",
        "beserver": "client",
        "base64": false,
        "end": false,
        "tls": "1c52b35895c06e7e",
        "x": 1590,
        "y": 340,
        "wires": []
    },
    {
        "id": "7e9c91485a95865b",
        "type": "comment",
        "z": "f96133e571fcee05",
        "name": "add user:pass and authorization header",
        "info": "",
        "x": 810,
        "y": 360,
        "wires": []
    },
    {
        "id": "1c52b35895c06e7e",
        "type": "tls-config",
        "name": "node-red to takserver",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "node-red.pem",
        "keyname": "node-red.key",
        "caname": "ca.pem",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    }
]
